<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <upturnstudio_mcp>
            <general>
                <enabled>1</enabled>
                <public_base_url/>
            </general>
            <token>
                <access_token_ttl>3600</access_token_ttl>
                <refresh_token_ttl>1209600</refresh_token_ttl>
                <auth_code_ttl>60</auth_code_ttl>
            </token>
            <core_web_vitals>
                <pagespeed_api_key/>
            </core_web_vitals>
        </upturnstudio_mcp>
    </default>
</config>
